@import 'colors.scss';

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin opacity-background($opacity: 1) {
  background: rgba(38, 38, 38, $opacity);
}
