@import 'mixins.scss';
@import 'fonts.scss';
@import 'colors.scss';

:host {
  @include flex-col;
  @include align-center;
  @include opacity-background(0.5);
  position: absolute;
  top: 0;
  left:0;
  height: 100vh;
  width: 100vw;
  z-index: 1;

  .error-popup-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    padding: 40px;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
  }

  .close-error-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    top: 5px;
    right: 5px;
    cursor: pointer;
    height: 40px;
    border-radius: 50px;
    transition: 0.3s;
    position: absolute;
    &:hover {
      @include opacity-background(0.5);
    }
    img {
      height: 40px;
      width: 40px;
    }
  }

  .error-popup-text {
    @include roboto-rg(18px, $dark_blue);
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
}
