@import 'index.scss';

:host {
  @include flex-row;
  margin-bottom: 24px;
  button {
    @include roboto-rg(16px, $dark_gray);
    @include flex-col;
    @include align-center;
    height: 40px;
    widows: 80px;
    position: relative;
    top: 1px;
    padding: 0 5px;
    background: white;
    border-bottom: 1px solid $dark_gray;
    outline: none;
    &.is-active {
      border-bottom: 1px solid $white;
      border-right: 1px solid $dark_gray;
      border-left: 1px solid $dark_gray;
      border-top: 1px solid $dark_gray;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
  }
}
