<div class="table-header">
  <div class="coin-cell">
    <span>coin name</span>
  </div>
  <div class="coin-cell pointer" (click)="sortBy('price')">
    <span>coin price</span><img class="arrow" src="./assets/img/drop-down.svg" alt="" />
  </div>
  <div class="coin-cell pointer" (click)="sortBy('firstSeen')">
    <span>first seen</span><img class="arrow" src="./assets/img/drop-down.svg" alt="" />
  </div>
  <div class="coin-cell pointer" (click)="sortBy('highestPrice')">
    <span>highest price</span><img class="arrow" src="./assets/img/drop-down.svg" alt="" />
  </div>
</div>
<div class="coin-item" *ngFor="let coin of coinsAnalitics | async; let i = index">
  <div class="coin-item">
    <div class="coin-cell">{{ coin.name }}</div>
    <div class="coin-cell">{{ coin.price }}</div>
    <div class="coin-cell">{{ moment(coin.firstSeen).format('DD/MMM/YY') }}</div>
    <div class="coin-cell">{{ coin.highestPrice | number: '.2-2' }}</div>
  </div>
</div>
