@import 'index.scss';

:host {
  @include flex-col;
  width: 100%;
  margin-top: 32px;
  .table-header {
    @include flex-row;
    width: 100%;
  }
  .coin-item {
    @include flex-row;
  }
  .coin-cell {
    @include flex-row;
    @include roboto-md(14px, $dark_blue, 14px);
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 150px;
    border: 1px solid $gray;
    user-select: none;

  }
  .arrow {
      height: 12px;
      object-fit: contain;
      margin-left: 8px;
  }
  .pointer {
      cursor: pointer;
  }
}
